.welcome__wrapper {
  height: 960px;
  background: url(../../images/bg/screen.jpg) top center no-repeat;
  min-height: 100%;
  position: relative;
}
.welcome__wrapper__logo {
  width: 280px;
  height: 120px;
}
.animation p {
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -26%);
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4 alternate forwards;
  animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4 alternate forwards;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
